body{
background-color: aqua;
font: normal 1rem arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
    text-align: center;
}

div{
    padding: 15px;
}

footer{
text-align: center;
}